<?xml version="1.0"?>
<!--
@author Maciej Sławik <maciekslawik@gmail.com>
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./src/*/Test/Unit/*</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory suffix="Test.php">./src/*/Test/Integration/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/*/Test/Integration/*</directory>
                <directory suffix=".php">./src/*/Test/Unit/*</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>